<div *ngIf='!loginMode' class='container'>
  <h1 class='center'>Signup</h1>
  <mat-form-field appearance='outline'>
    <mat-label>E-mail</mat-label>
    <input #email matInput placeholder='example@email.com'/>
  </mat-form-field>
  <mat-form-field appearance='outline'>
    <mat-label>Username</mat-label>
    <input #username matInput placeholder='exampleuser'/>
  </mat-form-field>
  <mat-form-field appearance='outline'>
    <mat-label>Password</mat-label>
    <input #password matInput type='password' placeholder='password'/>
  </mat-form-field>
  <button mat-button (click)='signup(email.value,username.value,password.value);email.value="";username.value="";password.value=""'>Submit</button>
</div>
<div *ngIf='loginMode' class='container'>
    <h1>Login</h1>
    <mat-form-field appearance='outline'>
      <mat-label>Username</mat-label>
      <input #username matInput placeholder='exampleuser'/>
    </mat-form-field>
    <mat-form-field appearance='outline'>
      <mat-label>Password</mat-label>
      <input #password matInput type='password' placeholder='password'/>
    </mat-form-field>
    <button *ngIf='loginMode' mat-button (click)='login(username.value, password.value);username.value="";password.value=""'>Submit</button>
  </div>
<div class='outer-container'>
  <button mat-button (click)='toggle();'>Switch to Login</button>
</div>