<h2>motiv8d Users</h2>
<div class='container mat-elevation-z8'>
    <table mat-table [dataSource]="dataSource">
        
        <ng-container matColumnDef="userid">
            <th mat-header-cell *matHeaderCellDef> User ID </th>
            <td mat-cell *matCellDef="let meetups"> {{users.id}} </td>        
          </ng-container>

        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let meetups"> {{users.username}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>