<h2>Active Meetups</h2>
<div class='container'>
    <table *ngIf='!activeMeets' mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td (click)="openMeetup(meetups)" mat-cell *matCellDef="let meetups"> {{meetups.name}} </td>
        </ng-container>
      
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td (click)="openMeetup(meetups)" mat-cell *matCellDef="let meetups"> {{meetups.date.substring(0,10)}} </td>        
        </ng-container>
      
        <ng-container matColumnDef="description">
          <th mat-header-cell *matHeaderCellDef> Description </th>
          <td (click)="openMeetup(meetups)" mat-cell *matCellDef="let meetups"> {{meetups.description}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  <div *ngIf='activeMeets' id='map' class='map'> 
    {{mapLoaded ? undefined : loadMap()}}
  </div>  
</div>
  <div class='outer-container'>
    <button mat-button (click)='toggle()'>Toggle Table/Map View</button>
  </div>