.nav-button a {
    margin-right: 8px;
    color: black;
    float: left;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Raleway', sans-serif;
}

  h1 {
    color: black;
    font-family: 'Raleway', sans-serif;
  }
  ​
  .nav-link a.active {
    background-color: red;
  }
  
  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
  
  .nav-button a:hover {
    color: #990000;
    font-size: 17px;
  }
