<nav class='container' >
  <div class='titleContainer'>
  <a routerLink='/dashboard'><img src='./assets/octopus.png' style='width:150px;'/></a>
    <h1><a style='text-decoration:none;color:black;' routerLink="/dashboard">motiv<span style='color:#990000'>8</span>r</a></h1>
  </div>
    <div class= "nav-button">
        <a mat-button routerLink="/dashboard">My Dashboard</a>
        <a mat-button routerLink="/meetups">Find a Meetup</a>
        <a mat-button routerLink="/log">My Meetup Log</a>
        <a (click)='logout()' mat-button routerLink="/auth">Logout</a>
    </div>
</nav>
 <router-outlet></router-outlet>
