<div class='container'>
  <mat-calendar [dateClass]="dateClass()" class='calendar' #calendar [(selected)]="selectedDate" (monthSelected)="monthSelected($event)"
    (selectedChange)="dateSelected($event)">
  </mat-calendar>
  <div class='greeting'><h1>Hello, {{this.username}}</h1><br/><br/><br/><h2>Points: {{this.points}}</h2></div>
  <div *ngIf='this.idea' class='idea'><h2>Random Fitness Idea</h2><h3>by: {{this.idea.license_author}}</h3><h4>{{this.idea.name}}</h4>
    <span [innerHtml]='this.idea.description'></span>
  </div>
</div>